<!-- // views/posts.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style1.css">
    <script type="module" src="/js/viewPost.js" defer></script>

</head>
<body>
    <div id="all">
        <div id="header-section"></div>
        
        <div class="page-title">
            <h1>View this Post.</h1>
        </div>
        <div id="view-post-container"></div>
    </div>
</body>
</html>